{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head></head>
<body>
	<center>
		{% if msg %}
			{{msg}}
		{% endif %}
		{% if not carts %}
			<h3>There Is No Books In Your Cart</h3>
		{% else %}
			<h3>Net Amount To Pay :
			<form name="pay" method="post" action="{% url 'pay' %}">
				<input type="number" min="0" max="100000" name="final_amount" value="{{final_amount}}" readonly="readonly"> </h3>
				<input type="submit" value="Pay" class="btn btn-primary">
			<form method="post">
		{% endif %}
		
	</center>
	<div class="row">
		{% for i in carts %}	 	 
		<div id="box" class="col-sm-3" style="margin-top: 10px;">
			<div class="container">
		  		<div class="card" style="width:250px">
		    		<img class="card-img-top" src="{{i.book.book_image.url}}" alt="Card image" width=250px height=250px>
		    			<div class="card-body">
		      				<p class="card-title">Book Name : {{i.book.book_name}}</p>
		      				<p class="card-text">Book Price : {{i.book.book_price}}</p>
		      				<form name="cart" method="post" action="{% url 'cart' %}">
		      					{% csrf_token %}
		      					<input type="hidden" name="pk" value="{{i.book.id}}">
		      					<p class="card-text">Quantity : <input type="number" name="quantity" min="1" max="10" value="{{i.qty}}" onchange="this.form.submit()"></p>

		      				</form>
		      				<p class="card-text">Total Amount * QTY : {{i.net_amount}}</p>
		      				<a href="{% url 'user_book_detail' pk=i.book.pk %}">
		      					<input type="button" value="More Details" class="btn btn-primary">
		      				</a> 				
		    			</div>
		  		</div>	  
			</div>
		</div> 
	    {% endfor %}
	</div>
</body>
</html>
{% endblock %}